.gallery {
  color: var(--light-text-color);
  text-align: center;
}

.gallery__title {  
  margin-bottom: 80px;
}

.gallery__inner {
  display: flex;  
  column-gap: 40px;
  align-items: center;     
}

.arrow {  
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 40px;
  height: 40px;
}

.arrow_left {
  background-image: url("../../img/icons/arrow-left.svg");
}

.arrow_right {
  background-image: url("../../img/icons/arrow-right.svg");
}

.gallery__list {  
  display: flex;  
  column-gap: 30px;
  margin-bottom: 30px;
}

.gallery__img {
  width: 100%;
  object-fit: contain;
}

.scrollbar {
  position: relative;
  width: 80%;
  height: 4px;
  background-color: var(--light-text-color);
  margin: 0 auto;
}

.scrollbar-slider {
  position: absolute;
  top: -50%;
  width: 20%;
  height: 10px;
  background-color: var(--accent-color);  
}

.scrollbar_top {
  margin: 0 auto 60px;
}

@media (max-width: 1200px) {
  .gallery__list_down {
    justify-content: center;
  }
  .arrow {
    display: none;
  }  
  .gallery__item {   
    flex-shrink: 0;
    flex-basis: 306px;
  }
}

@media (max-width: 1100px) {
  .gallery__list_down {
    justify-content: space-between;
  }
}

@media (max-width: 480px) {  
  .gallery__item {       
    flex-basis: 200px;
  }
}

